<!-- Side Navigation -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="logo-header">
      <img style="margin-right: 2px;" class="logo-image" src="favicon.ico">
      <h3>StockSync</h3>
    </div>
    <div style="text-align: center;">
      <p class="welcome" style="font-size: 16px">Welcome: {{ this.name }}</p>
    </div>
    <div class="buttons">
      <button mat-raised-button color="accent" (click)="this.router.navigate(['product-page'])">Products</button>
      <button mat-raised-button color="accent" (click)="this.router.navigate(['product-page'])">Clients</button>
      <button mat-raised-button color="accent" (click)="this.router.navigate(['/report'])">Generate Product Report</button>
      <button class="logout-button" mat-raised-button color="warn" (click)="onLogout()">Logout</button>
    </div>
    </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main content -->
    <div class="top-bar">
      <input class="search-bar" placeholder="Search" matInput #searchInput (keyup.enter)="applySearch(searchInput.value)">
      <div style="display: inline-flex;">
        <p class="role" style="font-size: 12px">Role: {{ this.role }}</p>
        <button mat-raised-button color="accent" style="font-size: 12px; padding: 2px; height: 30px;" (click)="this.router.navigate(['/profile'])">View Profile</button>
      </div>
    </div>
    <div class="content">
      <h1>Inventory Management KPIs</h1>
      <div class="grid-container">
        <div class="grid-item">
          <h1>Total Products:</h1>
          <p>{{totalProducts}} Products</p>
        </div>
        <div class="grid-item">
          <h1>Total Inventory:</h1>
          <p>{{ totalProductPrice | currency: 'USD':'symbol':'1.2-2' }}</p>
        </div>
        <div class="grid-item">
          <h1>Products Out of Stock:</h1>
          <p>{{ productsOutOfStock.length || '0' }} Products</p>
        </div>
        <div class="grid-item">
          <h1>Products Overstocked:</h1>
          <p>0 Products</p>
        </div>
        <div class="grid-item">
          <h1>Low Stock:</h1>
          <p>{{ lowStock.length || '0' }} Products</p>
        </div>
        <div class="grid-item">
          <h1>Number of Clients:</h1>
          <p>0 Clients</p>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
