<h2 mat-dialog-title>Edit User</h2>
<div mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="saveUser()">

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber" (ngModelChange)="onPhoneNumberChange($event)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="USER">User</mat-option>
        <mat-option value="ADMIN">Admin</mat-option>
        <mat-option value="OWNER">Owner</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="saveUser()">Save</button>
</div>
