<div class="centered-content">
  <mat-toolbar class="title-toolbar" fxLayout="row" fxLayoutAlign="center center" color="primary">
    <img style="width: 50px; height: 50px; margin-right: 10px" src="favicon.ico">
    <span fxFlexAlign="center" style="font-size: 32px;">StockSync</span>
  </mat-toolbar>
  <mat-card style="margin-top: 30px;" class="login-card" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
      <mat-card-title style="margin-bottom: 16px; font-size: 24px;">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="column" fxLayoutGap="16px" class="login-form">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" name="password" type="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
        <button mat-raised-button color="accent" (click)="createUser()">Register New User</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
