<div class="create-product-content">
  <div style="position: absolute; top: 0; padding-top: 20px;">
    <button mat-raised-button color="accent" (click)="goHome()">Go Home</button>
  </div>
  <mat-card>
    <form style="padding: 20px;" fxLayout="column" fxLayoutAlign="center center" #productForm="ngForm" (ngSubmit)="submitProduct()">
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="product.name" name="name" required>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]="product.description" name="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price" type="tel" [(ngModel)]="product.price" name="price" required (keydown)="validateNumber($event)" (input)="formatPrice($event)">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Quantity" type="number" [(ngModel)]="product.quantity" name="quantity" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Create Product</button>
    </form>
  </mat-card>
</div>
