<div style="padding: 10px;" class="search-container">
  <mat-form-field style="min-width: 300px;" appearance="fill">
    <mat-label style="color: white;">Search</mat-label>
    <input matInput #searchInput (keyup)="applySearch(searchInput.value)" placeholder="Search by name or category">
  </mat-form-field>
</div>
<div class="summary">
  <div style="margin-bottom: 10em;" class="totals" fxLayout="row" fxLayoutGap="20px">
    <h2>Total Products: {{ totalProducts }}</h2>
  </div>
  <button mat-raised-button color="accent" routerLink="/products/create">Add Product</button>
</div>
<div>
  <h2 style="display:flex; justify-content: center; margin-top: 100px">Products: </h2>
</div>
<mat-grid-list cols="3" rowHeight="350px" gutterSize="10px">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card>
      <mat-card-header style="padding: 12px">
        <mat-card-title style="color: white; margin-bottom: 12px; ">{{ product.name }}</mat-card-title>
        <mat-card-subtitle>Price: ${{ product.price }}</mat-card-subtitle>
        <mat-card-subtitle>Quantity: {{ product.quantity }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p style="color: white;">Description: {{ product.description }}</p>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: space-between">
        <button mat-raised-button color="primary" (click)="updateProduct(product)">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteProduct(product)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
